<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Vintage.AppServices.Properties.Settings.PatientsFirstConnectionString" connectionString="Data Source=DESKTOP-6S6HG3J;Initial Catalog=PatientsFirst;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Vintage.AppServices.Properties.Settings.SNOMED_CTConnectionString" connectionString="Data Source=DESKTOP-6S6HG3J;Initial Catalog=SNOMED_CT;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Vintage.AppServices.Properties.Settings.NZULMConnectionString" connectionString="Data Source=DESKTOP-6S6HG3J;Initial Catalog=NZULM;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="Integration Platform"/>
    <add key="LogFileName" value="Vintage.Log"/>
    <!-- one of Detailed, ExceptionOnly, Normal-->
    <add key="LogLevel" value="Detailed"/>
    <add key="HiMessageFolder" value="C:\HI_Messages\Server\"/>
    <add key="HimAppFolder" value="C:\HI_Messages\App\"/>
    <add key="HimLogFolder" value="C:\HI_Messages\Logs\"/>
  </appSettings>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
