<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="Integration Platform"/>
    <add key="LogFileName" value="Vintage.Log"/>
    <!-- one of Detailed, ExceptionOnly, Normal-->
    <add key="LogLevel" value="Detailed"/>
    <!--<add key="HiMessageFolder" value="D:\HiMessages\"/>
    <add key="HimAppFolder" value="D:\HimApp\"/>-->
    <add key="HiMessageFolder" value="C:\HI_Messages\Server\"/>
    <add key="HimAppFolder" value="C:\HI_Messages\App\"/>
    <add key="HimLogFolder" value="C:\HI_Messages\Logs\"/>
  </appSettings>
  <connectionStrings>
    <add name="Vintage.AppServices.Properties.Settings.PatientsFirstConnectionString" connectionString="Data Source=DESKTOP-6S6HG3J;Initial Catalog=PatientsFirst;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Vintage.AppServices.Properties.Settings.SNOMED_CTConnectionString" connectionString="Data Source=DESKTOP-6S6HG3J;Initial Catalog=SNOMED_CT;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Vintage.AppServices.Properties.Settings.NZULMConnectionString" connectionString="Data Source=DESKTOP-6S6HG3J;Initial Catalog=NZULM;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="Vintage.AppServices.Properties.Settings.PatientsFirstConnectionString" connectionString="Data Source=44HJ7JRE8TV3K;Initial Catalog=PatientsFirst;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Vintage.AppServices.Properties.Settings.SNOMED_CTConnectionString" connectionString="Data Source=44HJ7JRE8TV3K;Initial Catalog=SNOMED_CT;Integrated Security=True" providerName="System.Data.SqlClient"/>
    -->
  <!--<add name="Vintage.AppServices.Properties.Settings.PatientsFirstConnectionString" 
         connectionString="Server=HAS147-01\I147_01;Database=PatientsFirst;User ID=ITP_User;Password=Tot3Ars1;Trusted_Connection=False;Encrypt=True;MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient"/>-->
  <!--
  </connectionStrings>-->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="2048000" executionTimeout="3600"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Vintage.WebServices.RestServiceBehavior" name="Vintage.WebServices.RestService">
        <endpoint address="http://localhost:4254/RestService.svc" binding="webHttpBinding" bindingConfiguration="webBinding" contract="Vintage.WebServices.IRestService" behaviorConfiguration="webHttp">
          <!--identity>
            <dns value="localhost" />
          </identity-->
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="api" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="Vintage.WebServices.IRestService"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="00:25:00" closeTimeout="00:25:00" sendTimeout="00:25:00" receiveTimeout="00:25:00"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Vintage.WebServices.RestServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp defaultOutgoingResponseFormat="Xml" automaticFormatSelectionEnabled="false"/>
        </behavior>
        <behavior name="jsonBehavior">
          <webHttp/>
          <crossOriginResourceSharingBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <!--<add name="crossOriginResourceSharingBehavior" type="Vintage.WebServices.EnableCrossOriginResourceSharingBehavior, Vintage.WebServices, Version=3.0.7.1, Culture=neutral" />-->
        <add name="crossOriginResourceSharingBehavior" type="Vintage.WebServices.EnableCrossOriginResourceSharingBehavior, Vintage.WebServices, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>